<!DOCTYPE html>
<html data-theme="light">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{{package_name}} CDN by Gimme</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mgdis/mg-components@5/dist/mg-components/variables.css" />
  <script type="module"
    src="https://cdn.jsdelivr.net/npm/@mgdis/mg-components@5/dist/mg-components/mg-components.esm.js"></script>
</head>

<body>
  <header class="container">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150px" height="105px"
      viewBox="0 0 150 105" version="1.1">
      <g id="surface1">
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
          d="M 35.882812 3.070312 C 13.539062 4.394531 6.050781 9.03125 3.472656 23.179688 C 2.394531 29.199219 2.394531 75.679688 3.472656 81.578125 C 5.273438 91.03125 9.285156 96.332031 16.535156 98.738281 C 25.578125 101.808594 27.078125 101.871094 69.488281 102.171875 C 111.542969 102.472656 120.585938 102.109375 129.214844 99.882812 C 137.539062 97.773438 141.074219 95.246094 143.828125 89.527344 C 146.765625 83.324219 147.066406 79.714844 147.066406 52.378906 C 147.066406 24.867188 146.765625 21.554688 143.710938 15.171875 C 139.816406 7.105469 132.449219 4.214844 112.378906 3.011719 C 101.359375 2.347656 47.203125 2.347656 35.882812 3.070312 Z M 100.398438 23.238281 C 101.835938 24.082031 103.035156 24.984375 103.035156 25.226562 C 103.035156 25.46875 101.71875 26.308594 100.101562 27.09375 L 97.105469 28.476562 L 94.347656 26.851562 C 92.851562 25.949219 91.773438 24.984375 91.953125 24.625 C 92.371094 24.023438 96.445312 21.734375 97.222656 21.675781 C 97.523438 21.675781 98.902344 22.398438 100.398438 23.238281 Z M 89.917969 28.71875 C 91.535156 29.5625 92.851562 30.523438 92.851562 30.765625 C 92.851562 31.308594 88.957031 33.59375 87.21875 34.078125 C 85.78125 34.4375 79.671875 31.789062 79.671875 30.824219 C 79.671875 30.34375 85.484375 27.214844 86.5 27.152344 C 86.742188 27.09375 88.296875 27.816406 89.917969 28.71875 Z M 112.5 29.5 C 114.175781 30.523438 115.613281 31.429688 115.613281 31.609375 C 115.613281 31.789062 114.058594 32.691406 112.140625 33.65625 C 108.425781 35.523438 108.847656 35.582031 103.695312 32.691406 L 101.117188 31.1875 L 103.992188 29.441406 C 107.707031 27.273438 108.605469 27.273438 112.5 29.5 Z M 52.597656 31.125 C 52.894531 32.148438 51.039062 32.871094 50.199219 32.03125 C 49.839844 31.667969 49.78125 31.125 50.019531 30.707031 C 50.558594 29.863281 52.238281 30.164062 52.597656 31.125 Z M 56.308594 31.308594 C 56.308594 32.570312 54.871094 32.992188 54.214844 31.910156 C 53.734375 31.066406 54.394531 30.101562 55.472656 30.101562 C 55.949219 30.101562 56.308594 30.644531 56.308594 31.308594 Z M 60.203125 31.308594 C 60.203125 31.789062 59.722656 32.269531 59.183594 32.390625 C 58.40625 32.511719 58.105469 32.210938 58.105469 31.308594 C 58.105469 30.402344 58.40625 30.101562 59.183594 30.222656 C 59.722656 30.34375 60.203125 30.824219 60.203125 31.308594 Z M 64.097656 31.308594 C 64.097656 31.96875 63.738281 32.511719 63.257812 32.511719 C 62.179688 32.511719 61.523438 31.546875 62 30.707031 C 62.660156 29.621094 64.097656 30.042969 64.097656 31.308594 Z M 68.289062 31.308594 C 68.289062 31.96875 67.929688 32.511719 67.453125 32.511719 C 66.375 32.511719 65.714844 31.546875 66.195312 30.707031 C 66.851562 29.621094 68.289062 30.042969 68.289062 31.308594 Z M 100.699219 35.339844 C 102.316406 36.304688 103.574219 37.269531 103.453125 37.628906 C 103.335938 37.929688 102.015625 38.832031 100.460938 39.617188 L 97.703125 41.0625 L 94.527344 39.253906 C 92.792969 38.292969 91.355469 37.269531 91.414062 36.964844 C 91.472656 36.304688 95.847656 33.714844 96.984375 33.714844 C 97.402344 33.714844 99.082031 34.4375 100.699219 35.339844 Z M 73.144531 36.546875 C 73.503906 36.90625 73.683594 37.6875 73.503906 38.171875 C 73.144531 39.015625 70.808594 39.132812 53.734375 39.132812 C 37.859375 39.132812 34.144531 38.953125 33.1875 38.292969 C 31.867188 37.269531 32.46875 36.363281 34.746094 35.941406 C 35.582031 35.761719 44.390625 35.640625 54.332031 35.703125 C 67.332031 35.824219 72.605469 36.003906 73.144531 36.546875 Z M 82.546875 44.433594 C 82.667969 50.152344 82.546875 51.175781 81.769531 51.175781 C 81.289062 51.175781 80.332031 50.632812 79.671875 49.972656 C 78.59375 48.886719 78.472656 47.984375 78.472656 42.085938 L 78.472656 35.402344 L 80.453125 36.546875 L 82.367188 37.6875 Z M 118.011719 41.722656 C 118.011719 49.488281 117.59375 51.476562 115.792969 52.320312 C 115.015625 52.679688 114.296875 52.980469 114.175781 52.980469 C 113.519531 52.980469 113.21875 48.285156 113.578125 43.167969 C 113.996094 37.628906 114.058594 37.207031 115.554688 36.425781 C 116.394531 36.003906 117.292969 35.761719 117.53125 35.941406 C 117.832031 36.0625 118.011719 38.710938 118.011719 41.722656 Z M 103.273438 42.566406 C 106.449219 41 109.144531 39.734375 109.324219 39.734375 C 109.503906 39.734375 109.625 42.6875 109.625 46.359375 L 109.625 52.921875 L 106.628906 54.246094 C 104.890625 54.96875 102.675781 56.59375 101.539062 57.917969 L 99.5625 60.265625 L 99.320312 53.644531 C 99.140625 46.539062 98.542969 44.914062 96.566406 46.117188 C 95.785156 46.660156 95.488281 47.804688 95.367188 51.417969 C 95.246094 54.003906 95.007812 55.992188 94.769531 55.871094 C 94.527344 55.75 92.671875 54.847656 90.636719 53.882812 L 86.859375 52.078125 L 86.859375 39.734375 L 92.191406 42.625 L 97.523438 45.457031 Z M 73.503906 44.914062 C 73.683594 45.394531 73.5625 46.117188 73.203125 46.480469 C 72.363281 47.320312 43.191406 47.863281 31.03125 47.261719 C 21.566406 46.839844 21.566406 46.839844 21.566406 45.394531 L 21.566406 43.949219 L 47.324219 43.949219 C 70.207031 43.949219 73.144531 44.070312 73.503906 44.914062 Z M 72.125 52.199219 C 75.898438 52.5 76.675781 52.742188 76.558594 53.523438 C 76.257812 54.96875 72.125 55.269531 51.039062 55.328125 C 34.925781 55.390625 32.289062 55.269531 31.988281 54.488281 C 31.75 54.003906 31.75 53.164062 31.988281 52.679688 C 32.289062 51.898438 34.804688 51.777344 49.898438 51.777344 C 59.605469 51.777344 69.609375 51.957031 72.125 52.199219 Z M 126.039062 54.246094 C 127.117188 55.089844 127.597656 56.050781 127.597656 57.375 C 127.597656 61.890625 120.648438 72.789062 112.5 81.097656 C 106.929688 86.757812 104.054688 88.625 102.914062 87.359375 C 102.257812 86.695312 102.554688 86.214844 104.53125 84.710938 C 109.207031 81.039062 114.835938 74.65625 119.570312 67.613281 C 122.265625 63.699219 124.601562 60.027344 124.78125 59.421875 C 125.320312 57.917969 123.640625 54.488281 122.023438 53.703125 C 120.765625 53.101562 120.828125 53.042969 122.5625 53.042969 C 123.582031 52.980469 125.140625 53.523438 126.039062 54.246094 Z M 120.648438 55.449219 C 123.101562 56.59375 122.863281 57.980469 119.148438 63.277344 C 112.558594 72.667969 108.246094 77.785156 104.652344 80.496094 C 102.617188 81.941406 100.519531 83.988281 99.921875 84.953125 C 97.402344 89.105469 90.515625 89.527344 82.546875 86.035156 C 80.152344 85.011719 77.394531 83.929688 76.378906 83.625 C 69.609375 81.460938 59.246094 81.21875 51.816406 83.023438 C 48.703125 83.808594 46.726562 83.988281 46.066406 83.625 C 43.070312 82.0625 37.738281 73.453125 37.738281 70.261719 C 37.738281 68.875 37.859375 68.816406 44.507812 68.453125 C 48.164062 68.214844 53.375 67.492188 56.011719 66.828125 C 65.414062 64.480469 71.226562 65.324219 79.550781 70.382812 C 85.183594 73.753906 87.878906 74.355469 91.894531 73.210938 C 96.503906 71.828125 99.621094 69.296875 102.316406 64.601562 C 106.328125 57.679688 109.085938 55.871094 112.679688 57.796875 C 114.417969 58.761719 114.117188 60.207031 112.199219 60.207031 C 109.804688 60.207031 109.503906 60.566406 106.328125 65.925781 C 102.375 72.730469 99.921875 75.5 96.324219 77.304688 C 92.671875 79.109375 89.855469 79.292969 84.945312 77.90625 C 82.25 77.125 81.230469 77.0625 80.691406 77.605469 C 78.714844 79.59375 84.105469 82.722656 89.558594 82.722656 C 96.984375 82.722656 103.933594 77.847656 112.261719 66.769531 C 116.8125 60.75 117.351562 59.363281 116.214844 57.195312 C 115.734375 56.292969 115.855469 55.933594 116.632812 55.449219 C 118.011719 54.667969 118.851562 54.667969 120.648438 55.449219 Z M 89.136719 57.257812 C 91.175781 58.28125 92.074219 59.183594 92.972656 61.167969 C 94.289062 64.242188 93.929688 66.347656 91.832031 68.035156 C 89.078125 70.199219 84.34375 69.058594 82.609375 65.804688 C 81.53125 63.757812 82.367188 63.398438 85.601562 64.601562 C 89.617188 65.984375 90.457031 65.925781 90.457031 64.121094 C 90.457031 61.167969 85.421875 59.421875 79.613281 60.265625 C 77.816406 60.566406 73.144531 61.050781 69.1875 61.410156 C 65.234375 61.710938 59.425781 62.375 56.308594 62.914062 C 50.558594 63.820312 25.820312 64.242188 22.941406 63.457031 C 21.144531 62.976562 21.144531 61.050781 22.941406 60.566406 C 23.664062 60.386719 31.03125 60.207031 39.296875 60.207031 C 49.539062 60.207031 56.191406 59.90625 60.261719 59.304688 C 63.5 58.820312 67.8125 58.398438 69.789062 58.398438 C 71.765625 58.339844 75.417969 57.859375 77.875 57.195312 C 83.804688 55.691406 85.960938 55.75 89.136719 57.257812 Z M 34.386719 72.066406 C 35.582031 75.921875 38.097656 80.253906 40.433594 82.484375 C 42.234375 84.167969 42.414062 86.09375 40.792969 86.09375 C 38.160156 86.09375 31.867188 76.460938 30.851562 70.863281 C 30.429688 68.816406 30.492188 68.636719 31.867188 68.636719 C 33.128906 68.636719 33.488281 69.117188 34.386719 72.066406 Z M 59.304688 86.457031 C 55.890625 86.878906 52.957031 87.117188 52.835938 87 C 52.714844 86.878906 53.914062 86.636719 55.53125 86.394531 C 57.089844 86.214844 58.824219 85.914062 59.304688 85.855469 C 59.785156 85.734375 61.402344 85.613281 62.898438 85.613281 C 64.398438 85.613281 62.78125 85.976562 59.304688 86.457031 Z M 69.96875 86.515625 C 69.367188 86.636719 68.289062 86.636719 67.570312 86.515625 C 66.792969 86.394531 67.273438 86.277344 68.589844 86.277344 C 69.90625 86.214844 70.507812 86.335938 69.96875 86.515625 Z M 72.902344 87.058594 C 72.722656 87.238281 72.183594 87.300781 71.765625 87.117188 C 71.285156 86.9375 71.464844 86.757812 72.125 86.757812 C 72.785156 86.695312 73.144531 86.878906 72.902344 87.058594 Z M 72.902344 87.058594 " />
      </g>
    </svg>


  </header>
  <main class="container">
    <h1>{{ package_name }}@{{package_version}} files</h1>
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col">File</th>
            <th scope="col">Size (bytes)</th>
          </tr>
        </thead>
        <tbody>
          {% if back_dir is defined %}
            <tr id="dir-back" class="dir">
              <td><mg-icon icon="folder-outline"></mg-icon> <a href="/gimme/{{back_dir}}">..</a></td>
              <td></td>
            </tr>
          {% endif %}
          {% for dir in directories %}
          <tr id="dir-{{loop.index}}" class="dir">
            <td><mg-icon icon="folder-outline"></mg-icon> <a href="/gimme/{{dir.name}}">{{dir.name}}</a></td>
            <td></td>
          </tr>
          {% endfor %}
          {% for file in files %}
          <tr id="file-{{loop.index}}" class="file">
            <td><mg-icon icon="file-outline"></mg-icon> <a href="/gimme/{{file.name}}">{{file.name}}</a></td>
            <td>{{file.size}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>